html {
    background: #ffffff;
    background-image: url("immagini/mill.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
body {
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: rgba(0, 0, 0, 0.06);
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 725px;
    padding: 2em 2em 4em;
}
h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.3;
}
h2 {
    margin-top: 1.3em;
}
a {
    color: #0083e8;
}
b, strong {
    font-weight: 600;
}
samp {
    display: none;
}
.futura {
    font-family: futura;
    src: url("Futura.ttf");
    font-size: 20px;
}
@font-face {
    font-family: futura;
    src: url("Futura.ttf");
}
img {
    background: transparent;
    border: 0 solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}
.orangeb {
    background-color: #FF7A00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
table {
    background-color: rgba(255, 122, 0, 0.8);
    color: white;
}
